body {
    background-color: #F5EFED;
}
html {
    background-color: #F5EFED;
}

form {
    font-size: 18px;
    background-color: #F5EFED;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    color: #001B2E;
}

label {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 20px;
    /* padding-bottom: 10px; */
}

input {
    /* margin-left: 1%; */
    border-radius: 5px;
    border-width: 2px;
    border-color: #001b2e61
    #000304;
    width: 90%;
    height: 30px;
}

input[type="text"]:focus > child {
    border-color: #000304;
}

#save-btn {
    background-color: #001B2E;
    margin-right: 0.5em;
}
#save-btn:hover {
    background-color: rgb(39, 63, 148);
}

#back-btn {
    background-color: #FF0000;
}
#back-btn:hover {
    background-color: #d12a2a;
}

#buttons {
    margin-top: 10px;
}
button {
    font-size: 20px;
    color:rgb(254, 254, 246);
    border-width: 0px;
    border-radius: 4px;
}


#task-container > child {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 3em;
    margin-right: 3em;
    /* width: 100%; */
}

/* #newtask-container h1 {

} */
